<%include file="${cfg.TMPL_HEADER}" />
    <h1>jacla Web管理者ツール / ライブエントリー管理</h1>
    <p class="dil_9">
        % if ctrller.is_start() == True:
        現在、ライブエントリー 受付中です。<br />
        % else:
        現在、ライブエントリー 受付停止中です。<br />
        % endif
    </p>
    <p>
        <form id="band_info">
        <dl>
        % if ctrller.is_start() == True:
            <dt>現在のライブエントリーバンド数</dt>
            <dd>${band_cnt} バンド</dd>
            % if band_cnt > 0:
            <dt>エントリーバンド名</dt>
            % for band in bands:
                % if band.live_entry == True:
                <dd>${band.band_name}</dd>
                % endif
            % endfor
            % endif
            <dt>ライブエントリー操作</dt>
            <dd>
            <a href="?func=off">受付停止</a>
            <span class="mar_10 warn_b">自動的にライブエントリーデータがリセットされます</span>
            </dd>
        % else:
            <dt>ライブエントリー操作</dt>
            <dd><a href="?func=on">受付開始</a></dd>
        % endif
        </dl>
        </form>
    </p>

    <p>
        <a href="${cfg.URL_TOP}">Web管理者ツールトップ</a>
    </p>
<%include file="${cfg.TMPL_FOOTER}" />
