<%include file="${cfg.TMPL_HEADER}" />
    <h1>jacla Web管理者ツール / Web管理者引継ぎ</h1>
    <p class="dil_9">
        新任Web管理者の登録、権限の引継ぎが完了しました。<br />
        お疲れ様でした。
    </p>

    <p>
        <a href="${cfg.URL_TOP}">Web管理者ツールトップ</a>
    </p>
<%include file="${cfg.TMPL_FOOTER}" />
