<%include file="${cfg.TMPL_HEADER}" />
    <h1>jacla Web管理者ツール / バンド情報管理</h1>

    <p class="dil_9">
        各バンドのパスワードリセット、データバックアップ、データクリアが行えるツールです。
    </p>

    % if band_cnt < 1:
    現在登録されているバンドはありません。
    % else:
    <script>
    <!--
    function submitCheck(name) {
        result = confirm(name+"のパスワードをリセットします。\nよろしいでしょうか？");
        if (result == true) {
          return true;
        } else {
          return false;
        }
    }
    -->
    </script>
    <table class="jbims_band">
        <tr>
            <th>バンドID</th>
            <th>バンド名</th>
            <th>代表者</th>
            <th>パスワード(暗号化済)</th>
            <th>パスワードリセット</th>
        </tr>
        % for band in bands:
        <tr>
            <td>${band.__id__}</td>
            <td>${band.band_name}</td>
            <td><a href="mailto:${band.leader_mail}">${band.leader_name}</a></td>
            <td>${band.passwd}</td>
            <td>
            <form class="listform" action="${cfg.URL_JBIMSMASTER_RESET_PASSWD}" name="resetpasswd_${band.__id__}" onsubmit="return submitCheck('${band.band_name}')">
            <input type="hidden" name="id" value="${band.__id__}" />
            <input type="hidden" name="ver" value="${band.__version__}" />
            <input type="submit" value="パスワードリセット">
            </form>
            </td>
        </tr>
        % endfor
    </table>
    % endif

    <p>
        <a href="${cfg.URL_TOP}">Web管理者ツールトップ</a>
    </p>

<%include file="${cfg.TMPL_FOOTER}" />
