<%include file="${cfg.TMPL_HEADER}" />
        <h1>JBIMS ver.2 / ライブエントリー取り消し</h1>
        <p class="dil_9">
        ライブエントリーを取り消しました<br />
        </p>
        
        <p>
        <a href="${cfg.URL_TOP}">一覧へ戻る</a>
        </p>
<%include file="${cfg.TMPL_FOOTER}" />
