<%include file="${cfg.TMPL_HEADER}" />
        <h1>JBIMS ver.2 / バンド情報削除</h1>
        <p class="dil_9">
        バンドデータを削除しました<br />
        </p>
        
        <p>
        <a href="${cfg.URL_TOP}">一覧へ戻る</a>
        </p>
<%include file="${cfg.TMPL_FOOTER}" />
