<%include file="${cfg.TMPL_HEADER}" />
        <h1>JBIMS ver.2 / バンド情報修正</h1>
        <p class="dil_9">
        バンド情報の修正を行います。<br />
        あなたのバンド情報を入力して下さい。<br />
        <span class="warn">全て必須項目です</span>
        </p>
            
        <script>
        <!--
        var passwd_onoff_func = function() {
            if ($('form#band_info input#chg_passwd').attr('checked') == true) {
                $('form#band_info input#passwd').removeAttr('disabled');
                $('form#band_info input#re_passwd').removeAttr('disabled');
            } else {
                $('form#band_info input#passwd').attr('disabled', 'true');
                $('form#band_info input#re_passwd').attr('disabled', 'true');
            }
        };
        $('document').ready(function() {
            passwd_onoff_func();
        });
        -->
        </script>
        <form id="band_info" name="band_info" action="edit_band.cgi" method="post">
        <input type="hidden" name="ps" value="2" />
        <input type="hidden" name="id" value="${id}" />
        <input type="hidden" name="ver" value="${ver}" />
        <table>
            <tr>
            <td>
            <dl>
                <dt><label for="band_name">バンド名</label></dt>
                <dd>
                % if errors.has_key('band_name'):
                    <input type="text" id="band_name" name="band_name" size="30" value="${params.get('band_name', band.band_name)}" class="err_b" />
                    <span class="err">${errors.get('band_name')}</span>
                % else:
                    <input type="text" id="band_name" name="band_name" size="30" value="${params.get('band_name', band.band_name)}" />
                % endif
                </dd>
                <dt><label for="genre">ジャンル</label></dt>
                <dd>
                % if errors.has_key('genre'):
                    <input type="text" id="genre" name="genre" size="30" value="${params.get('genre', band.genre)}" class="err_b" />
                    <span class="err">${errors.get('genre')}</span>
                % else:
                    <input type="text" id="genre" name="genre" size="30" value="${params.get('genre', band.genre)}" />
                % endif
                </dd>
                <dt><label for="leader_name">代表者</label></dt>
                <dd>
                % if errors.has_key('leader_name'):
                    <input type="text" id="leader_name" name="leader_name" size="30" value="${params.get('leader_name', band.leader_name)}" class="err_b" />
                    <span class="err">${errors.get('leader_name')}</span>
                % else:
                    <input type="text" id="leader_name" name="leader_name" size="30" value="${params.get('leader_name', band.leader_name)}" />
                % endif
                </dd>
                <dt><label for="leader_mail">代表者メールアドレス</label></dt>
                <dd>
                % if errors.has_key('leader_mail'):
                    <input type="text" id="leader_mail" name="leader_mail" size="30" value="${params.get('leader_mail', band.leader_mail)}" class="err_b" />
                    <span class="err">${errors.get('leader_mail')}</span>
                % else:
                    <input type="text" id="leader_mail" name="leader_mail" size="30" value="${params.get('leader_mail', band.leader_mail)}" />
                % endif
                </dd>
                <dt><label for="passwd">パスワード</label></dt>
                % if params.get('chg_passwd', '') == '':
                <dd><input type="checkbox" id="chg_passwd" name="chg_passwd" value="" onclick="passwd_onoff_func()" checked> <label for="chg_passwd">パスワード変更</label></dd>
                % else:
                <dd><input type="checkbox" id="chg_passwd" name="chg_passwd" value="" onclick="passwd_onoff_func()"> <label for="chg_passwd">パスワード変更</label></dd>
                % endif
                <dd>
                % if errors.has_key('passwd'):
                    <input type="password" id="passwd" name="passwd" size="13" value="" class="err_b" /> 
                    <span class="err">${errors.get('passwd')}</span><br />
                % else:
                    <input type="password" id="passwd" name="passwd" size="13" value="" /> 
                % endif
                    <span class="warn">※バンド情報を変更する時、ライブエントリー時必要になります</span>
                </dd>
                <dt><label for="passwd">パスワード(再入力): </label></dt>
                <dd>
                    % if errors.has_key('re_passwd'):
                        <input type="password" id="re_passwd" name="re_passwd" size="13" value="" class="err_b" /> 
                        <span class="err">${errors.get('re_passwd')}</span><br />
                    % else:
                        <input type="password" id="re_passwd" name="re_passwd" size="13" value="" /> 
                    % endif
                </dd>
                <dt><label for="member_num">メンバー数</label></dt>
                <dd>
                    <select id="member_num" name="member_num">
                    % for num in range(1,21):
                        % if str(num) == params.get('member_num', str(band.member_num)):
                        <option value="${num}" selected="selected">${num}</option>
                        % else:
                        <option value="${num}">${num}</option>
                        % endif
                    % endfor
                    </select>
                </dd>
            </dl>
            </td>
            </tr>
            <tr>
                <td class=""><input type="submit" value="次へ" /></td>
            </tr>
        </table>
        </form>
        
        <p>
        <a href="${cfg.URL_TOP}">一覧へ戻る</a>
        </p>
<%include file="${cfg.TMPL_FOOTER}" />
