<%include file="${cfg.TMPL_HEADER}" />
        <h1>JBIMS ver.2 / ライブエントリー</h1>
        <p class="dil_9">
        ライブ情報を入力して下さい。<br />
        入力した情報はPA, ライティングに使用されます。<br />
        出来るだけ正確に入力して下さい。<br />
        <span class="warn">全て必須項目です</span>
        </p>
            
        <form id="band_info" name="band_info" action="entry_live.cgi" method="post">
        <input type="hidden" name="ps" value="3" />
        <input type="hidden" name="id" value="${id}" />
        <input type="hidden" name="ver" value="${ver}" />
        % for key in cfg.REQ_GET_KEY_ENTRY_LIVE_PS2:
        <input type="hidden" name="${key}" value="${params.get(key)}" />
        % endfor
        <%
        music = band.music_name.split(cfg.DATA_DELIMITER)
        time  = band.music_time.split(cfg.DATA_DELIMITER)
        genre = band.music_genre.split(cfg.DATA_DELIMITER)
        comp  = band.music_comp.split(cfg.DATA_DELIMITER)
        
        n_music = len(music)
        %>
        % for i in range(n_music):
        <table>
            <tr>
                <th>演奏曲</th>
                <th>ジャンル / 雰囲気</th>
                <th>構成</th>
            </tr>
            <tr>
                % if (len(music) > 0):
                <td><input type="text" name="music_name${i}" size="25" value="${music.pop(0)}" /></td>
                % else:
                <td><input type="text" name="music_name${i}" size="25" value="" /></td>
                % endif
                % if (len(genre) > 0):
                <td rowspan="3"><textarea name="music_genre${i}" cols="30" rows="4">${genre.pop(0)}</textarea></td>
                % else:
                <td rowspan="3"><textarea name="music_genre${i}" cols="30" rows="4"></textarea></td>
                % endif
                % if (len(comp) > 0):
                <td rowspan="3"><textarea name="music_comp${i}" cols="40" rows="4">${comp.pop(0)}</textarea></td>
                % else:
                <td rowspan="3"><textarea name="music_comp${i}" cols="40" rows="4"></textarea></td>
                % endif
            </tr>
            <tr>
                <th>演奏時間</th>
            </tr>
            <tr>
                % if (len(time) > 0):
                <td><input type="text" name="music_time${i}" size="25" value="${time.pop(0)}" /></td>
                % else:
                <td><input type="text" name="music_time${i}" size="25" value="" /></td>
                % endif
            </tr>
        </table>
        % endfor
        <table>
            <tr>
                <td class="r" colspan="4">
                <input type="submit" name="goback" value="戻る" />
                <input type="submit" name="gonext" value="次へ" />
                </td>
            </tr>
        </table>
        </form>
<%include file="${cfg.TMPL_FOOTER}" />
