<%include file="${cfg.TMPL_HEADER}" />
        <p class="info">
            Welcome to JBIMS ver.2 / ライブエントリー
        </p>
        <p>
        ステージ図を作成して下さい。<br />
        </p>

        <form id="band_info" name="band_info" action="" method="post">
        <input type="hidden" name="ps" value="4" />
        <input type="hidden" name="id" value="${id}" />
        <input type="hidden" name="ver" value="${ver}" />
        % for key in cfg.REQ_GET_KEY_ENTRY_LIVE_PS3:
        <input type="hidden" name="${key}" value="${params.get(key)}" />
        % endfor

        <table>
            <tr>
                <td>
                <object width="800" height="600">
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="800" height="600" id="bandEntry_v3_3" align="middle">
                <param name="allowScriptAccess" value="sameDomain" />
                <param name="movie" value="bandEntry_v3_3.swf" />
                <param name="FlashVars" value="ps=4&band_id=${id}&band_ver=${ver}&to_url=/jbims2/entry_live.cgi">
                <param name="quality" value="high" />
                <param name="bgcolor" value="#ffffff" />
                <embed src="bandEntry_v3_3.swf" FlashVars="ps=4&band_id=${id}&band_ver=${ver}&to_url=/jbims2/entry_live.cgi" quality="high" bgcolor="#ffffff" width="800" height="600" name="bandEntry_v3_3" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
                </object>
                </td>
            </tr>
            <tr>
                <td class="r" colspan="2">
                <input type="submit" name="goback" value="戻る" />
                <input type="submit" name="gonext" value="エントリー" />
                </td>
            </tr>
        </table>
        </form>
<%include file="${cfg.TMPL_FOOTER}" />
