<g transform="translate(200,250) scale(0.6)">
<polygon fill="none" stroke="black" stroke-width="3" points="0,100 100,100 100,0 0,0 0,100 50,0 100,100" />
<text x="0" y="135" font-family="MS-PGothic" font-size="40">
ampeg
</text>
</g>
