<g transform="translate(320,230) scale(0.6)">
<circle cx="100" cy="100" r="100" fill="none" stroke="black" stroke-width="3"/>
<text x="40" y="120" font-family="MS-PGothic" font-size="30">
Drum
</text>
</g>
