<g transform="translate(470,250) scale(0.6)">
<circle cx="50" cy="50" r="50" fill="none" stroke="black" stroke-width="3"/>
<text x="10" y="60" font-family="MS-PGothic" font-size="40">
perc
</text>
</g>
